:root {
  --main-bg-color: #E43F6F;
  --chat-bg-color: white;
  --secondary-color: #F56476;
  --secondary-click-color: #f37382;
  --text-color: white;
  --border-color: white;
}

.messages {
    padding: 5% 0;
    overflow: hidden;
    flex: auto;
    background-color: var(--chat-bg-color);
    /* background: url("../../assets/images/spinning.jpeg");
    background-size: 100% 100%; */
  }

  .isTyping {
    position: absolute;
    bottom: 3px;
    margin-left: 2%;
    background: #F3F3F3;
    border-radius: 20px;
    padding: 5px 20px;
  }

 