:root {
    --main-bg-color: #E43F6F;
    --secondary-color: #F56476;
    --secondary-click-color: #f37382;
    --text-color: white;
    --border-color: white;
  }

.logout-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    background-color: var(--secondary-color);
    padding: 1px 15px;
    border-radius: 1px;
    display: inline-block;
    border: none;
    height: 100%;
    border: none;
    
}


.logout-btn:hover{
    cursor: pointer;
    background-color: var(--secondary-click-color);
  }

  @media (max-width: 768px) {
      .logout-btn {
          height: 10px;
      }
  }