
.logout-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    background-color: var(--secondary-color);
    padding: 1px 15px;
    border-radius: 1px;
    display: inline-block;
    border: none;
    height: 100%;
}


.logout-btn:hover{
    cursor: pointer;
    background-color: var(--secondary-click-color);
  }

  @media (max-width: 768px) {
      .logout-btn {
          height: 10px;
      }
  }