.dashboard {
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background-color: #19171C;
}

.dashboardHeader {
    padding: 5px 10px;
    color: white;
    text-decoration: underline;
}

.usersList {
    color: white;
}

.usernameListItem {
    margin-bottom: 5px;
}