*{
    padding: 0;
    margin: 0;
    
}
.dashboard {
    border: solid 2px var(--border-color);
    border-style: double;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    min-width: 200px;
    background-color: var(--dashboard-bg-color);
   
}

.users-List::-webkit-scrollbar {
    display: none;
  }

.dashboard-Header {
    padding: 5px 10px;
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--border-color);
    margin-bottom: 8%;
}

.username-List-Item {
    margin-left: 50px;
    margin-bottom: 1%;
}

ul {
    padding-left: 0px;
    list-style-position: inside;
    list-style-type: disc;
    font-size: 18px;
    line-height: 23px;
    padding: 0 0px;
    list-style: none;

}

ul li:before {
    content: '\25CF';
    position: absolute;
    color: rgb(116, 43, 116);
    left: 1em;
}

.users-List {
    color: var(--text-color);
    height: 80%;
    overflow: scroll;
    border-bottom: 1px solid var(--border-color);
}




@media (max-width: 768px){
    .dashboard {
        display: none;
    }
}