:root {
  --main-bg-color: #E43F6F;
  --secondary-color: #F56476;
  --secondary-click-color: #f37382;
  --text-color: white;
  --border-color: white;
}

.Info{
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
    background-color: var(--main-bg-color);
    border-bottom: 2px solid var(--border-color);
  }
  
  .left-Inner-Container {
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 2%;
    color: var(--text-color);
  }
  
  .right-Inner-Container {
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    color: var(--text-color);
    width: 30%;
    min-width: 40px;
  }
  
  .logout-btn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    background-color: var(--secondary-color);
    padding: 1px 15px;
    border-radius: 1px;
    display: inline-block;
    border: none;
    height: 100%;
    border: none;
    
}

.chatbox-header {
  margin-left: 5px;
}

.logout-btn:hover{
  cursor: pointer;
  background-color: var(--secondary-click-color);
}

@media (max-width: 768px) {
  .logout-btn {
    display: none;
  }
}