
.message-Box {
    background: #F3F3F3;
    border-radius: 20px;
    padding: 6px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
    margin-bottom: 5px;
    
  }
  
  .message-Text {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .message-Text img {
    vertical-align: middle;
  }
  
  .message-Container {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
  }
  
  .sent-Text {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #c2c1c1;
    letter-spacing: 0.3px;
    padding-left: 10px;
    font-size: 15px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justify-Start {
    justify-content: flex-start;
  }
  
  .justify-End {
    justify-content: flex-end;
  }
  
  .color-light {
    color: black;
  }
  
  .color-dark {
    color: black;
  }
  
  .background-Blue {
    background: var(--left-bubble);
  }
  
  .background-Light {
    background: var(--right-bubble);
  }