:root {
  --main-bg-color: black;
  --dashboard-bg-color: black;
  --chatbox-bg-color: white;
  --secondary-color: #1B4965;
  --secondary-click-color: #1e577a;
  --text-color: white;
  --border-color: #CCCCCC;
  --right-bubble: #548ac4;
  --left-bubble: #d1cbcb;
}

.chat-outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: var(--main-bg-color);
  }

  .chat-innerContainer {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .chatBoxcontainer::-webkit-scrollbar {
    width: 0 !important;
  }
  
  
  .chatBox-Container {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  
  .chatBox-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    border: solid 2px var(--border-color);
  }

  @media (max-width: 768px){
    .chat-outerContainer {
      width: 100%;
    }

    .chat-innerContainer {
      width: 100%;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .chat-outerContainer {
      height: 100%;
    }
  
    .chatBoxContainer {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .chatBoxContainer {
      width: 100%;
    }
  }

  