:root {
  --main-bg-color: #E43F6F;
  --secondary-color: #F56476;
  --secondary-click-color: #f37382;
  --text-color: white;
  --border-color: #F56476;
}

.form {
    display: flex;
    border-top: 1px solid var(--border-color);
    height: 11%;
  }
  
  .input {
    border: 1px solid var(--border-color);
    border-radius: 0;
    padding: 10px;
    width: 80%;
    font-size: 1.2em;
    
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .send-Button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--secondary-color);
    padding: 5px;
    display: inline-block;
    border: none;
    width: 20%;
    border-radius: 5px;
  }

  .send-Button:hover {
    cursor: pointer;
    background-color: var(--secondary-click-color);
  }